<div class="container h-100">
  <ng-container *ngIf="!bIsProcessing; else loadingData">
    <form [formGroup]="formGroup"
          class="d-flex flex-column"
          (ngSubmit)="formSubmit($event)">
      <mat-horizontal-stepper linear>

        <mat-step>
          <ng-template matStepLabel>{{ assets.bucket.label }}</ng-template>
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-6">
              <div class="cd-step-holder">
                <mat-card class="w-100 mat-elevation-z4">
                  <mat-card-header>
                    <mat-card-title>
                      <span>{{ assets.bucket.title }}</span>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="d-flex justify-content-center align-items-center">
                    <mat-form-field class="w-100">
                      <mat-label>{{ form.bucket.label }}</mat-label>
                      <!-- <mat-select [formControlName]="form.bucket.name"
                                            [required]="form.bucket.validation.bIsMandatory">
                                  <mat-option *ngFor="let _ of assets.bucket.list"
                                              [value]="_.value">{{ _.viewValue }}</mat-option>
                                </mat-select> -->
                      <input matInput
                             [formControlName]="form.bucket.name"
                             [type]="form.bucket.type"
                             [placeholder]="form.bucket.placeholder"
                             [disabled]="form.bucket.initialization.disabled"
                             [required]="form.bucket.validation.bIsMandatory">
                      <mat-error *ngIf="formGroup
                                           .get(form.bucket.name)
                                           .hasError('required')">
                        <p class="m-0">{{ form.bucket.label }} is required</p>
                      </mat-error>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>

                <div class="d-flex justify-content-center align-items-center">
                  <!-- <button mat-raised-button
                          color="primary"
                          type="button"
                          matStepperNext>
                    <span>{{ assets.bucket.next.text }}</span>
                  </button> -->
                  <app-button-container *ngIf="!!assets.bucket.next"
                                        [disabled]="assets.bucket.next.disabled"
                                        [assets]="assets.bucket.next">
                  </app-button-container>
                </div>
              </div>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ assets.config.label }}</ng-template>
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-6">
              <div class="cd-step-holder">

                <ng-container [formGroupName]="form.config.name">

                  <mat-card class="w-100">
                    <mat-card-header>
                      <mat-card-title>
                        <p class="h4 m-0">{{ assets.config.preprocess.title }}</p>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <!-- <mat-form-field class="w-100">
                                  <mat-checkbox [formControlName]="form.config.preprocess.name"
                                                [disabled]="form.config.preprocess.initialization.disabled">
                                    {{ form.config.preprocess.label }}
                                  </mat-checkbox>
                                </mat-form-field> -->

                      <mat-checkbox [checked]="form.config.classification.initialization.value"
                                    [disabled]="form.config.classification.initialization.disabled">
                        {{ form.config.classification.label }}
                      </mat-checkbox>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="w-100">
                    <mat-card-header>
                      <mat-card-title>
                        <p class="h4 m-0">{{ assets.config.usecase.title }}</p>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.audio.initialization.value"
                                      [disabled]="form.config.usecase.audio.initialization.disabled">
                          {{ form.config.usecase.audio.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.language.initialization.value"
                                      [disabled]="form.config.usecase.language.initialization.disabled">
                          {{ form.config.usecase.language.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.textual.initialization.value"
                                      [disabled]="form.config.usecase.textual.initialization.disabled">
                          {{ form.config.usecase.textual.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.equipment.initialization.value"
                                      [disabled]="form.config.usecase.equipment.initialization.disabled">
                          {{ form.config.usecase.equipment.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.framerates.initialization.value"
                                      [disabled]="form.config.usecase.framerates.initialization.disabled">
                          {{ form.config.usecase.framerates.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.timecode.initialization.value"
                                      [disabled]="form.config.usecase.timecode.initialization.disabled">
                          {{ form.config.usecase.timecode.label }}
                        </mat-checkbox>
                      </div>
                      <div class="my-2">
                        <mat-checkbox [checked]="form.config.usecase.audioSegment.initialization.value"
                                      [disabled]="form.config.usecase.audioSegment.initialization.disabled">
                          {{ form.config.usecase.audioSegment.label }}
                        </mat-checkbox>
                      </div>
                    </mat-card-content>
                    <mat-card-actions></mat-card-actions>
                  </mat-card>

                </ng-container>

                <div class="d-flex justify-content-center align-items-center">
                  <!-- <button mat-raised-button
                          type="submit"
                          color="primary"
                          [disabled]="formGroup.invalid"
                          class="my-2">
                    <span>{{ assets.config.next.text }}</span>
                  </button> -->
                  <app-button-container *ngIf="!!assets.config.next"
                                        [disabled]="formGroup.invalid"
                                        [assets]="assets.config.next">
                  </app-button-container>
                </div>

              </div>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </ng-container>

  <ng-template #loadingData>
    <mat-card class="m-4 mat-elevation-z4">
      <mat-card-content>
        <div class="d-flex align-items-center">
          <app-loader-container></app-loader-container>
          <div class="d-flex flex-column">
            <p class="h4">Please Wait</p>
            <p class="my-2">The Deduplication process is in progress</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>

</div>
