<!-- <p>lm-dialog works!</p> -->
<div class="container p-0">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <!-- <p class="h5 m-0">{{ result.title.split('.')[0] }}</p> -->
    <button mat-icon-button
            (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-12 d-flex justify-content-center align-items-center my-2">
      <div class="row ">
        <div class="col-lg-12 col-md-8 col-sm-12">
          <form (ngSubmit)="submitForm($event)"
                [formGroup]="formGroup"
                class="my-4">

            <div class="row my-1">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.name.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.name.name"
                         [type]="form.name.type"
                         [placeholder]="form.name.placeholder"
                         [required]="form.name.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.name.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.name.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.cvc.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.cvc.name"
                         [type]="form.cvc.type"
                         [placeholder]="form.cvc.placeholder"
                         [required]="form.cvc.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.cvc.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.cvc.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.number.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.number.name"
                         [type]="form.number.type"
                         [placeholder]="form.number.placeholder"
                         [required]="form.number.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.number.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.number.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.exp_month.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.exp_month.name"
                         [type]="form.exp_month.type"
                         [placeholder]="form.exp_month.placeholder"
                         [required]="form.exp_month.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.exp_month.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.exp_month.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.exp_year.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.exp_year.name"
                         [type]="form.exp_year.type"
                         [placeholder]="form.exp_year.placeholder"
                         [required]="form.exp_year.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.exp_year.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.exp_year.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_line1.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_line1.name"
                         [type]="form.address_line1.type"
                         [placeholder]="form.address_line1.placeholder"
                         [required]="form.address_line1.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_line1.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_line1.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_line2.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_line2.name"
                         [type]="form.address_line2.type"
                         [placeholder]="form.address_line2.placeholder"
                         [required]="form.address_line2.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_line2.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_line2.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_city.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_city.name"
                         [type]="form.address_city.type"
                         [placeholder]="form.address_city.placeholder"
                         [required]="form.address_city.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_city.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_city.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_state.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_state.name"
                         [type]="form.address_state.type"
                         [placeholder]="form.address_state.placeholder"
                         [required]="form.address_state.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_state.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_state.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_zip.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_zip.name"
                         [type]="form.address_zip.type"
                         [placeholder]="form.address_zip.placeholder"
                         [required]="form.address_zip.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_zip.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_zip.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>{{ form.address_country.label }}</mat-label>
                  <input matInput
                         [formControlName]="form.address_country.name"
                         [type]="form.address_country.type"
                         [placeholder]="form.address_country.placeholder"
                         [required]="form.address_country.validation.bIsMandatory"
                         autofocus="true">
                  <mat-error *ngIf="formGroup
                                 .get(form.address_country.name)
                                 .hasError('required')">
                    <p class="m-0">{{ form.address_country.label }} is
                      required</p>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="mt-2">
              <div class="d-flex justify-content-center align-items-center">
                <!-- <button type="submit"
                        mat-stroked-button
                        [disabled]="formGroup.invalid"
                        color="primary">Add</button> -->
                <app-button-container [disabled]="formGroup.invalid"
                                      [assets]="assets.buttons"></app-button-container>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
