mat-card-title.ph-pricing-plan-title {
  font-size: 24px;
  line-height: normal;
  color: #0707a7;
}

div.ph-pricing-plan-price {
  p {
    font-size: 48px;
    line-height: normal;
  }
}

div.ph-pricing-plan-overview {
  p {
    font-size: 16px;
  }
}

div.ph-offerings-liph-holder {
  mat-list {
    mat-liph-item {
      min-height: 48px;
    }
  }
}
