<div class="container p-4">
  <div class="cd-module-holder">
    <ng-container *ngFor="let _ of assets._">
      <div class="cd-module">
        <div class="d-flex justify-content-center align-items-center my-4
                    cd-module-title">
          <p class="m-0">{{ _.title }}</p>
        </div>
        <div class="row">
          <ng-container *ngFor="let __ of _.plans">
            <div class="col-lg-4">
              <app-cd-pricing-plan [assets]="__"></app-cd-pricing-plan>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
