<div class="container">
  <div class="row">
    <ng-container *ngFor="let _ of assets._">
      <div class="col-lg-4 col-md-6 col-sm-12 st-features-card">
        <div class="d-flex my-2 st-features-title">
          <p class="m-0 text-center">{{ _.title }}</p>
        </div>

        <div>
          <ng-container *ngFor="let _ of _.statements">
            <p>{{_}}</p>
          </ng-container>
        </div>

        <button mat-stroked-button
                (click)="triggerNavigate()">{{ _.button.text }}</button>

      </div>
    </ng-container>
  </div>
</div>
