<div class="container-fluid d-flex flex-column
            mat-app-background app-dark
            lm-footer-container">

  <div class="d-flex justify-content-between flex-wrap">

    <!-- Navigation -->
    <div class="my-2 
                lm-footer-section">
      <ng-container *ngFor="let _ of assets.navigations">
        <a mat-button
           (click)="navigate(_.route)">{{ _.label }}</a>
      </ng-container>
    </div>

    <!-- Terms -->
    <div class="my-2
                lm-footer-section">
      <ng-container *ngFor="let _ of assets.terms">
        <a mat-button
           (click)="navigate(_.route)">{{ _.label }}</a>
      </ng-container>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center flex-wrap">

    <!-- Copyright -->
    <div class="my-2 text-center
                lm-footer-section lm-footer-copyright">
      <p mat-button
         class="m-0 text-muted"
         *ngIf="!!assets.copyright.to; else simpleCopyright">&copy;
        {{ assets.copyright.from }} -
        {{ assets.copyright.to }}. &nbsp;
        {{ assets.copyright.statement }}</p>
      <ng-template #simpleCopyright>
        <p mat-button
           class="m-0 text-muted">&copy;
          {{ assets.copyright.from }}. &nbsp;
          {{ assets.copyright.statement }}</p>
      </ng-template>
    </div>

    <!-- Social -->
    <div class="my-2
                lm-footer-section">
      <ng-container *ngFor="let _ of assets.socials">
        <button mat-icon-button
                class="m-1">
          <mat-icon>{{ _.icon }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>

</div>
