div.st-feature-overview {
  p {
    color: #0707a7;
    font-size: 24px;
    line-height: normal;
  }
}

div.st-featire-overview-list-holder {
  mat-list {
    mat-list-item {
      min-height: 48px;
    }
  }
}
