<div class="container p-4">
  <div class="st-module-holder">
    <ng-container *ngFor="let _ of assets._">
      <div class="st-module">
        <div class="d-flex justify-content-center align-items-center my-4
                    st-module-title">
          <p class="m-0">{{ _.title }}</p>
        </div>
        <div class="row">
          <ng-container *ngFor="let __ of _.plans">
            <div class="col-lg-4">
              <app-st-pricing-plan [assets]="__"></app-st-pricing-plan>
            </div>
          </ng-container>
        </div>
        <div class="d-flex justify-content-center align-items-center my-4">
          <ng-container *ngFor="let __ of _.actions">
            <button mat-stroked-button
                    (click)="navigate()"
                    color="primary">{{ __.text }}</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
