<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center my-2
                  st-trusted-by-title">
        <p class="m-0 text-center">{{ assets.title }}</p>
      </div>
    </div>

    <div class="col-12">
      <div class="d-flex my-4 justify-content-around align-items-center flex-wrap my-2">
        <ng-container *ngFor="let _ of assets.images">
          <div class="m-2
                      st-trustedby-logo-holder">
            <img class="img-fluid"
                 [src]="_.src"
                 [alt]="_.alt">
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>
