div.st-trusted-by-title {
  p {
    color: #000078;
    font-size: 28px;
    font-family: LTIMediaLabs;
    line-height: normal;
  }
}

div.st-trustedby-logo-holder {
  img {
    height: 24px;
    width: auto;
  }
}
