<div class="container-fluid p-0 mat-elevation-z4
            cd-navbar-container">

  <mat-toolbar class="h-auto">
    <mat-toolbar-row class="d-flex justify-content-between align-items-stretch p-0 h-auto">
      <div class="d-flex align-items-center">
        <div class="d-flex d-lg-none mx-2">
          <button mat-icon-button
                  class="cd-menu-item-button">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="align-items-center d-flex px-lg-4
                    cd-navbar-logo"
             (click)="navigate()">
          <img class="img-fluid m-2
                      cd-navbar-logo"
               [src]="assets.logo.src"
               [alt]="assets.logo.alt">
        </div>
      </div>
      <div class="d-none d-lg-flex align-items-center">
        <ng-container *ngTemplateOutlet="matNavRef; 
                      context: { context: assets.items.common };">
        </ng-container>
        <ng-container *ngIf="!user">
          <ng-container *ngTemplateOutlet="matNavRef; 
                        context: { context: assets.items.anonymous };">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!!user">
          <ng-container *ngTemplateOutlet="matNavRef; 
                        context: { context: assets.items.authenticated };">
          </ng-container>
        </ng-container>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</div>

<ng-template #matNavRef
             let-navItems="context">
  <ng-container *ngFor="let _ of navItems">
    <ng-container *ngIf="!!_.children.length; else noDropdown;">
      <button mat-flat-button
              [name]="_.name"
              class="cd-menu-item-button"
              [matMenuTriggerFor]="cdMenu">
        <span>{{ _.label }}</span>
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #cdMenu="matMenu"
                xPosition="before">
        <ng-template matMenuContent
                     #cdMenuContent>
          <ng-container *ngFor="let __ of _.children">
            <button mat-menu-item
                    class="cd-menu-item-button"
                    [name]="__.name"
                    (click)="navigate(__)">{{ __.label }}</button>
          </ng-container>
        </ng-template>
      </mat-menu>
    </ng-container>
    <ng-template #noDropdown>
      <button mat-flat-button
              class="cd-menu-item-button"
              [name]="_.name"
              (click)="navigate(_)">
        <span>{{ _.label }}</span>
      </button>
    </ng-template>
  </ng-container>
</ng-template>
