// @import '../../../st-app-shell/st-app-shell.component.scss';

div.st-multi-title {
  p {
    color: #000078;
    // font-family: "BwModelicaSS02-Bold", sans-serif;
    font-size: 28px;
    // font-weight: bold;
    font-family: LTIMediaLabs;
    line-height: normal;
  }
}

div.st-multi-statement-holder {
  p {
    color: #121212;
    // font-family: "BwModelicaSS02-Bold", sans-serif;
    // font-size: 28px;
    // font-family: "LTIMediaLabs-Bold" sans-serif;
    line-height: normal;
  }
}
