div.st-mono-closure-title {
  p {
    color: #0707a7;
    font-size: 24px;
    font-family: LTIMediaLabs;
    line-height: normal;
  }
}

div.st-mono-closure-description {
  p {
    color: #0707a7;
    font-size: 16px;
    font-family: LTIMediaLabs;
    line-height: normal;
  }
}
