<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center my-2
    st-advantages-title">
        <p class="m-0 text-center">{{ assets.title }}</p>
      </div>
      <!-- <h1 class=" justify-content-center">{{assets.title}}</h1> -->
      <div class="d-flex flex-column my-4 justify-content-center align-items-center my-2">
        <ng-container *ngFor="let _ of assets.statements">
          <p class="my-2">{{_}}</p>
        </ng-container>
      </div>

    </div>
  </div>
</div>
