<div class="container my-4">
  <div class="d-flex justify-content-center align-items-center my-2
              ph-home-closure-title">
    <p class="m-0">{{ assets.title }}</p>
  </div>
  <div class="d-flex justify-content-center align-items-center my-4">
    <ng-container *ngFor="let _ of assets.actions">
      <button mat-raised-button
              (click)="navigate()"
              color="primary">{{ _.text }}</button>
    </ng-container>
  </div>
  <div class="d-flex justify-content-center align-items-center my-2
              ph-home-closure-description">
    <p class="m-0">{{ assets.description }}</p>
  </div>
</div>
