div.st-box-closure-title {
  p {
    color: #0707a7;
    font-size: 24px;
  }
}

div.st-box-closure-title {
  p {
    color: #0707a7;
    font-size: 24px;
  }
}

div.st-box-closure-description {
  p {
    color: #0707a7;
    font-size: 16px;
  }
}
