<div class="container lm-contact-container h-100">
  <div>
    <h3> We believe in solving complex business challenges of the converging world, by using
      cutting-edge technologies.</h3>

    <h3>Explore LTI worldwide locations
      on our Global Footprint page.</h3>

    <h3>Have a challenge for us?</h3>

    <h3>For more details, connect with us: </h3>

    <h3>John Missale<br>JOHN.MISSALE@lntinfotech.com <br> 917-376-8855</h3>

    <div class="lm-home-title">
      <p>Let's Solve
        <img src="assets/images/contactus/LTI_Solve_icon.png">
      </p>
    </div>

  </div>

  <div>
    <app-lm-contact-form [asset]="form"
                         [country]="country"
                         [industry]="industry"
                         [services]="services"
                         [referredBy]="referredBy"
                         [formGroup]="formGroup"
                         [buttonAssets]="assets"
                         (triggerSubmit$)="triggerSubmit($event)"></app-lm-contact-form>
  </div>

</div>
