figure {
  position: relative;

  div.ph-legend-inferences-holder {
    position: absolute;
    top: 96px;
    left: 48px;
    bottom: 0px;
    right: 0px;

    p {
      font-size: 16px;
    }
  }
}
