div.cd-home-closure-title {
  p {
    color: #0707a7;
    font-size: 24px;
    line-height: normal;
  }
}

div.cd-home-closure-description {
  p {
    color: #0707a7;
    font-size: 16px;
    line-height: normal;
  }
}
