@import "~@angular/material/theming";

$medialab-typography: mat-typography-config(
  $font-family: "LTIMediaLabs",
);

@include angular-material-typography($medialab-typography);

// Default
@font-face {
  font-family: LTIMediaLabs;
  src: url("/assets/common/fonts/default/BwModelica-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsBold;
  src: url("/assets/common/fonts/default/BwModelica-Bold.woff2") format("woff2");
}

@font-face {
  font-family: LTIMediaLabsLight;
  src: url("/assets/common/fonts/default/BwModelica-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsMedium;
  src: url("/assets/common/fonts/default/BwModelica-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsThin;
  src: url("/assets/common/fonts/default/BwModelica-Thin.woff2") format("woff2");
}

// SS01
@font-face {
  font-family: LTIMediaLabsSS01;
  src: url("/assets/common/fonts/SS01/BwModelicaSS01-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS01Bold;
  src: url("/assets/common/fonts/SS01/BwModelicaSS01-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS01Light;
  src: url("/assets/common/fonts/SS01/BwModelicaSS01-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS01Medium;
  src: url("/assets/common/fonts/SS01/BwModelicaSS01-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS01Thin;
  src: url("/assets/common/fonts/SS01/BwModelicaSS01-Thin.woff2")
    format("woff2");
}

// SS02
@font-face {
  font-family: LTIMediaLabsSS02;
  src: url("/assets/common/fonts/SS02/BwModelicaSS02-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS02Bold;
  src: url("/assets/common/fonts/SS02/BwModelicaSS02-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS02Light;
  src: url("/assets/common/fonts/SS02/BwModelicaSS02-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS02Medium;
  src: url("/assets/common/fonts/SS02/BwModelicaSS02-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: LTIMediaLabsSS02Thin;
  src: url("/assets/common/fonts/SS02/BwModelicaSS02-Thin.woff2")
    format("woff2");
}
