<div class="container-fluid p-0 
            st-box-container">
  <app-st-banner [assets]="assets.banner"></app-st-banner>
  <app-st-box-features [assets]="assets.feature"></app-st-box-features>
  <app-st-zigzag [assets]="assets.setup"></app-st-zigzag>
  <app-st-box-description [assets]="assets.description"></app-st-box-description>
  <app-st-zigzag [assets]="assets.wrapup"></app-st-zigzag>
  <app-st-box-closure [assets]="assets.closure"
                      (triggerNavigate$)="navigate()"></app-st-box-closure>
</div>
