<mat-card>
  <form (ngSubmit)="submitForm($event)"
        [formGroup]="formGroup"
        class="my-4">
    <div class="row my-1">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.firstName.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.firstName.name"
                 [type]="asset.firstName.type"
                 [placeholder]="asset.firstName.placeholder"
                 [required]="asset.firstName.validation.bIsMandatory"
                 autofocus="true">
          <mat-error *ngIf="formGroup
                           .get(asset.firstName.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.firstName.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.lastName.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.lastName.name"
                 [type]="asset.lastName.type"
                 [placeholder]="asset.lastName.placeholder"
                 [required]="asset.lastName.validation.bIsMandatory">
          <mat-error *ngIf="formGroup
                           .get(asset.lastName.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.lastName.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.emailAddress.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.emailAddress.name"
                 [type]="asset.emailAddress.type"
                 [placeholder]="asset.emailAddress.placeholder"
                 [required]="asset.emailAddress.validation.bIsMandatory">
          <mat-error *ngIf="formGroup
                           .get(asset.emailAddress.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.emailAddress.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.contactNumber.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.contactNumber.name"
                 [type]="asset.contactNumber.type"
                 [placeholder]="asset.contactNumber.placeholder"
                 [required]="asset.contactNumber.validation.bIsMandatory">
          <mat-error *ngIf="formGroup
                           .get(asset.contactNumber.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.contactNumber.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.companyName.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.companyName.name"
                 [type]="asset.companyName.type"
                 [placeholder]="asset.companyName.placeholder"
                 [required]="asset.companyName.validation.bIsMandatory">
          <mat-error *ngIf="formGroup
                           .get(asset.companyName.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.companyName.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.country.label }}</mat-label>
          <mat-select [formControlName]="asset.country.name"
                      [required]="asset.country.validation.bIsMandatory">
            <mat-option *ngFor="let _ of country"
                        [value]="_.value">{{ _.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.industry.label }}</mat-label>
          <mat-select [formControlName]="asset.industry.name"
                      [required]="asset.industry.validation.bIsMandatory">
            <mat-option *ngFor="let _ of industry"
                        [value]="_.value">{{ _.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.services.label }}</mat-label>
          <mat-select [formControlName]="asset.services.name"
                      [required]="asset.services.validation.bIsMandatory">
            <mat-option *ngFor="let _ of services"
                        [value]="_.value">{{ _.viewValue }}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup
                           .get(asset.services.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.services.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.referredBy.label }}</mat-label>
          <mat-select [formControlName]="asset.referredBy.name"
                      [required]="asset.referredBy.validation.bIsMandatory">
            <mat-option *ngFor="let _ of referredBy"
                        [value]="_.value">{{ _.viewValue }}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup
                           .get(asset.referredBy.name)
                           .hasError('required')">
            <p class="m-0">{{ asset.referredBy.label }} is
              required</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>{{ asset.description.label }}</mat-label>
          <input matInput
                 [formControlName]="asset.description.name"
                 [type]="asset.description.type"
                 [placeholder]="asset.description.placeholder"
                 [required]="asset.description.validation.bIsMandatory">
        </mat-form-field>
      </div>
    </div>

    <div class="mt-2">
      <div class="d-flex justify-content-center align-items-center">
        <!-- <button type="submit"
                mat-stroked-button
                [disabled]="formGroup.invalid"
                color="primary">Submit</button> -->
        <app-button-container [disabled]="formGroup.invalid"
                              [assets]="buttonAssets.buttons"></app-button-container>
      </div>
    </div>
  </form>
</mat-card>
