<div class="container-fluid p-0 
            st-feature-container">
  <!-- <app-st-feature-banner [assets]="assets.banner"></app-st-feature-banner> -->
  <app-st-banner [assets]="assets.banner"></app-st-banner>
  <!-- <app-st-feature-right-banner [assets]="assets.remote"></app-st-feature-right-banner>
  <app-st-feature-left-banner [assets]="assets.box"></app-st-feature-left-banner>
  <app-st-feature-right-banner [assets]="assets.browser"></app-st-feature-right-banner>
  <app-st-feature-left-banner [assets]="assets.editor"></app-st-feature-left-banner>
  <app-st-feature-right-banner [assets]="assets.repo"></app-st-feature-right-banner>
  <app-st-feature-left-banner [assets]="assets.results"></app-st-feature-left-banner> -->
  <app-st-zigzag [assets]="assets.features"></app-st-zigzag>
  <app-st-feature-wrapup [assets]="assets.wrapup"></app-st-feature-wrapup>
  <app-st-feature-closure [assets]="assets.closure"
                          (triggerNavigate$)="navigate()"></app-st-feature-closure>
</div>
