<div *ngIf="!cookiebar.state.bIsDismissed"
     class="container
            lm-cookie-bar-container">
  <div class="row justify-content-center
              lm-cookie-bar-content-holder">
    <div class="col-md-8 col-sm-12 d-flex align-items-center
                mat-app-background mat-elevation-z6 app-dark
                lm-cookie-bar-content">
      <div class="d-flex flex-grow-1 m-2 
                  lm-cookie-bar-message">
        <p class="m-0">{{ assets.message }}</p>
      </div>
      <div class="">
        <ng-container *ngFor="let _ of assets.buttons">
          <!-- <button mat-icon-button
                  (click)="triggerDismissCookiebar()">
            <mat-icon>{{ _.text }}</mat-icon>
          </button> -->
          <app-button-container [disabled]="_.disabled"
                                [assets]="_"
                                (triggerButton$)="triggerDismissCookiebar()">
          </app-button-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
