div.st-left-banner-title {
  p {
    color: #000078;
    // font-family: "BwModelicaSS02-Bold", sans-serif;
    font-size: 28px;
    font-family: LTIMediaLabs;
    line-height: normal;
  }
}
