<div class="d-flex justify-content-center align-items-center
          app-carousel-button-holder">
        <ng-container [ngSwitch]="assets.appearance">
                <button *ngSwitchCase="'raised'"
                        class="m-2"
                        (click)="triggerButton()"
                        [type]="assets.type"
                        [disabled]="disabled"
                        [color]="assets.color"
                        mat-raised-button>{{ assets.text }}</button>

                <button *ngSwitchCase="'stepper'"
                        class="m-2"
                        (click)="triggerButton()"
                        [type]="assets.type"
                        [disabled]="disabled"
                        [color]="assets.color"
                        mat-raised-button
                        matStepperNext>{{ assets.text }}</button>

                <button *ngSwitchCase="'flat'"
                        class="m-2 "
                        (click)="triggerButton()"
                        [type]="assets.type"
                        [disabled]="disabled"
                        [color]="assets.color"
                        mat-flat-button>{{ assets.text }}</button>

                <button *ngSwitchCase="'stroked'"
                        class="m-2"
                        (click)="triggerButton()"
                        [type]="assets.type"
                        [color]="assets.color"
                        [disabled]="disabled"
                        mat-stroked-button>{{ assets.text }}</button>

                <button *ngSwitchCase="'icon'"
                        class="m-2"
                        (click)="triggerButton()"
                        [type]="assets.type"
                        [disabled]="disabled"
                        [color]="assets.color"
                        mat-icon-button>
                        <mat-icon>{{ assets.text }}</mat-icon>
                </button>

                <a mat-button
                   *ngSwitchCase="'link'"
                   class="m-2"
                   (click)="triggerButton()"
                   [type]="assets.type"
                   [color]="assets.color"
                   [disabled]="disabled">{{ assets.text }}</a>

                <button *ngSwitchDefault
                        class="m-2"
                        (click)="triggerButton()"
                        [color]="assets.color"
                        [disabled]="disabled"
                        mat-raised-button>{{ assets.text }}</button>

        </ng-container>
</div>
