<!-- <div class="container-fluid m-0 p-0 h-100">
  <div class="app-shell-grid h-100">
    <div class="container d-flex justify-content-center align-items-center p-0">
      <div mat-ripple
           class="p-2 mat-elevation-z4 app-module-card"
           (click)="navigate({path: sMediaLab})">
        <div
             class="d-flex justify-content-center align-items-center mb-2 app-module-image-holder">
          <img src="assets/images/logo/medialab-transparent-lg.png"
               alt="LTI MediaLabs"
               class="app-module-logo">
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center p-0">
      <div mat-ripple
           class="p-2 mat-elevation-z4 app-module-card"
           (click)="navigate({path: sDeduplication})">
        <div
             class="d-flex justify-content-center align-items-center mb-2 app-module-image-holder">
          <img src="assets/images/logo/dedup-blue.png"
               alt="Content-Aware Deduplication"
               class="app-module-logo">
        </div>
      </div>
    </div>
  </div>
</div> -->
